*{
    margin: 0;
    padding: 0;
    color: white;
    border: none;
}
:root{
    --dark-orange: #e0712a;
    --close-purple: #50567a;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101010;
    height: 100vh;
}
h1{
    font-size: 45px;
    background: linear-gradient(to right, yellow, orange);
    -webkit-background-clip: text; -webkit-text-fill-color: transparent;
     
    background-clip: text; 
    color: transparent;
}
.btns{
    width: 100%;
    height: 70px;
    padding: 20px;
    font-size: 30px;
    border-radius: 25px;
    background-image: radial-gradient(circle,#3d4163 0%,#464b6f 70%, #50567a 100%);
    background-color: #3d4163;
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    height: auto;
}
.all-buttons-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
}
.history_container{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 20px;
    background-color: #101010;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: span 5;
}
.all_history_container{
    /* border: 2px solid rgb(243, 32, 32); */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 235px;
    overflow-y: auto;
}
.history{
    height: 17%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 3px;
}
.clear_all{
    margin-top: auto;
    margin-left: 50px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}
.go_back{
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    top: 1%;
    left: 3%;
    cursor: pointer;
}
.material-symbols-outlined {
    font-size: 1.1rem !important;
    cursor: pointer;
}
.equation_para{
    font-size: 1.1rem;
}
.result_para{
    font-size: 1.1rem;
}

/* #function_AC{
    grid-column: span 2;
} */
/* #number_0{
    grid-column: span 2;
} */
.maths-buttons{
    background-image: radial-gradient(circle,#e0712a 0%,#ec8646 70%, #db8a58 100%); 
}

button:hover{
    filter: brightness(1.15);
}
button:active{
    filter: brightness(1.35);
}

.first-input{
    background-color: #101010;
    width: 100%;
    height: 80px;
    font-size: 50px;
    /* direction: rtl; */
    /* border: 3px solid white; */
}
.main{
    /* border: 3px solid white; */
    max-width: 100%;
    /* border: 3px solid cyan; */
}
                /*  DISPLAY NONE AND BLOCK CLASSES*/
.display_none{
    display: none;
}
.display_block{
    display: block;
}
.Transparent{
    background-color: transparent;
}
@media screen and (max-width: 480px) {
    h1{
    font-size: 30px;
    
}
    .first-input{
    background-color: #101010;
    width: 100%;
    height: 80px;
    font-size: 40px;
    /* direction: rtl; */
    /* border: 3px solid white; */
}
  .btns{
    width: 100%;
    height: 50px;
    padding: 15px;
    font-size: 20px;
    border-radius: 20px;
    background-image: radial-gradient(circle,#3d4163 0%,#464b6f 70%, #50567a 100%);
    background-color: #3d4163;
}
.maths-buttons{
    background-image: radial-gradient(circle,orange 0%,rgb(253, 179, 42) 70%, rgb(244, 200, 118) 100%);
}
}
@media screen and (max-width: 380px) {
    h1{
    font-size: 20px;
    
}
    .first-input{
    background-color: #101010;
    width: 100%;
    height: 80px;
    font-size: 30px;
    /* direction: rtl; */
    /* border: 3px solid white; */
}
  .btns{
    width: 100%;
    height: 40px;
    padding: 15px;
    font-size: 15px;
    border-radius: 15px;
    background-image: radial-gradient(circle,#3d4163 0%,#464b6f 70%, #50567a 100%);
    background-color: #3d4163;
}
.maths-buttons{
    background-image: radial-gradient(circle,orange 0%,rgb(253, 179, 42) 70%, rgb(244, 200, 118) 100%);
}
}